<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ page.canonical_url }}">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/{{ site.assets_dir }}/css/style.css">
</head>
<body>
  {{ site.partials.header | safe }}
  <article>
    {{ page.body | safe }}
  </article>
  <nav>
    {% if page.previous_url %}<a href="{{ page.previous_url }}">Previous</a>{% endif %}
    {% if page.next_url %}<a href="{{ page.next_url }}">Next</a>{% endif %}
  </nav>
  {{ site.partials.footer | safe }}
</body>
</html>
